---
import Layout from '../../layouts/SlideShow.astro'
---
<Layout title="Slide 1">
    <main class="w-full h-full grid grid-rows-1">
        <section class="flex flex-col justify-center items-center">
            <h1 class="text-9xl font-extrabold">Dont be a Cyber Silly Goose</h1>
            <p class="text-sm">or else...</p>
        </section>
<!--         <section class="flex justify-center items-center bg-slide-green">
            <p class="w-3/4 text-4xl font-extrabold text-center">
                Spaceflight will never tolerate carelessness, incapacity, and neglect - Gene Kranz
            </p>
        </section> -->
    </main>
</Layout>