---
import Layout from '../../layouts/SlideShow.astro'
---
<Layout title="Slide 2">
    <section class="w-full h-full flex justify-center items-center bg-slide-purple">
        <h1 class="text-9xl font-extrabold text-white">WHOAMI</h1>
    </section>
</Layout>