---
import Layout from '../../layouts/SlideShow.astro';
---
<Layout title="Slide 6">
    <main class="p-8 w-full h-full grid grid-rows-[auto_1fr]">
        <section class="flex justify-left items-center">
            <h1 class="text-8xl">Scamming: No Risk All The Reward</h1>
        </section>
        <section class="p-8 grid grid-cols-2 text-3xl">
            <div class="w-full flex flex-col items-center">
                <p class="text-6xl text-center">Australia</p>
                <div class="h-full flex flex-col justify-evenly">
                    <p>
                        Losses to scams 2020 - May 2022<br>
                        $755 Hundred Million (RM2.2 Billion)
                    </p>
                    <p>3.4 people per square kilometer</p>
                </div>
            </div>
            <div class="w-full flex flex-col items-center">
                <p class="text-6xl text-center">Malaysia</p>
                <div class="h-full flex flex-col justify-evenly">
                    <p>
                        Losses to scams 2020 - May 2022<br>
                        RM5.2 Billion ($1.7 Billion)
                    </p>
                    <p>102.65 people per square kilometer</p>
                </div>
            </div>
        </section>
    </main>
</Layout>