---
import Layout from '../../layouts/SlideShow.astro';
---
<Layout title="Slide 7">
    <main class="p-8 w-full h-full grid grid-rows-[auto_1fr] justify-center items-center">
        <section class="flex justify-center items-center">
            <h1 class="text-8xl">What are the solutions???</h1>
        </section>
        <section class="p-4 mt-4 flex flex-col gap-16 text-6xl">
            <p>Priorities need to change.</p>
            <ul class="pl-16 list-disc text-4xl">
                <li>Too much money floating around.</li>
                <li>Do you really need more training.</li>
                <li>Response plans.</li>
            </ul>
            <p>Communication is lacking.</p>
        </section>
    </main>
</Layout>