---
import Layout from '../../layouts/SlideShow.astro';
---
<Layout title="Slide 7">
    <main class="p-8 w-full h-full grid grid-rows-[auto_1fr]">
        <section class="flex justify-left items-center">
            <h1 class="text-8xl">What are the solutions???</h1>
        </section>
        <section class="p-4 mt-4">
            <p class="text-4xl">We need a priority change</p>
            <ul class="p-8 list-disc text-2xl">
                <li>Too much money floating around.</li>
                <li>Do you really need more training.</li>
            </ul>
            <p class="text-4xl">Communication is lacking.</p>
        </section>
    </main>
</Layout>