---
export interface Props { title: string; }
const { title } = Astro.props;

// Styles
import '../main.css';

// Fonts
import "@fontsource/montserrat" 
import "@fontsource/quattrocento"
---

<!DOCTYPE html>
<html lang="en" class="w-screen h-screen">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <script is:inline>
            let fout = (cb) => {
                document.readyState === 'interactive' || document.readyState === 'complete'
                    ? cb()
                    : document.addEventListener('DOMContentLoaded', cb);
            };

            fout(() => document.body.classList.toggle("hidden"));
        </script>
    </head>
    <body class="hidden w-screen h-screen grid grid-cols-[33%] grid-rows-[0.25fr_1fr] justify-center text-amber-600 bg-black">
        <script is:inline>0</script>
        <slot />
    </body>
</html>