<header>
    <h1>FOMO Coin</h1>
    <h3 id="user"></h3>
</header>

<!-- <script>
    import { useStore } from '@nanostores/preact';
    import { database } from '../store';

    document.getElementById("user").innerHTML = database.value[1]["name"];
</script> -->

